h1, p {
  font-family: Lato;
}
.auth-background{
  background: #f0f1f1;
  padding: 144px 51px 119px 47px;

  color: #fff;
  height: 100vh;
}
.auth-form{
  padding: 144px 51px 119px 47px;

  max-width:300px !important;
}

.ui.primary.button{
  background: #c9c5c3;
}
.ui.card.column.auth-form{
  border-radius: 40px 10px 40px 10px;
  /* padding: 144px 51px 119px 47px; */
  height: 30em;
  box-shadow: 10px 10px 10px 10px slategrey;
}
.form.ui.form {
  position: relative;
  top: 4em;
}
.img.py-4 {
  position: relative;
  top: 2em;
}

/* 

border-radius: 40px 10px 40px 10px;
padding: 144px 51px 119px 47px;
box-shadow: 10px 10px 10px 10px slategrey; */